html {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
#container {
    display: flex;
    margin: 20px;
    width: 900px;
    height: 900px;
    border: 1px solid black;
}
.gridBox {
    box-sizing: border-box;
    border: 1px solid blue;
}